page-about {

}
.showmore_icon{
    position: absolute;
    top: 0;
    right: 0;
}
ion-item.item {
    background: #e9e9e9;
    margin-bottom: 1px;
}
ion-item.item.item-block.item-md.active {
    /* background: #ddd; */
    /* border: 1px dotted #3200c6; */
    margin: 5px 0;
    box-shadow: 0px 0px 3px black;
}